{{ define "main" }}
<section class="about-page">
  <div class="content">
    <!-- Random image chosen on page load -->
    {{ $images := slice "image01.jpg" "image02.jpg" "image03.jpg" "image04.jpg"
    "image05.jpg" }} {{ $imagePaths := slice }} {{ range $images
    }} {{ $image := resources.Get (printf "profile-images/%s" .) }} {{
    $imagePaths = $imagePaths | append $image }} {{ end }} {{ $shuffled :=
    shuffle $imagePaths }}

    <div class="about-header-frame">
      <div class="header-socials-container">
        <h1 class="about-title">{{ .Title }}</h1>
        <h2 class="about-tagline">{{ .Params.tagline }}</h2>
        <div class="social-media">
          <a href="{{ .Params.github }}" target="_blank">GitHub</a>
          <a href="{{ .Params.linkedin }}" target="_blank">LinkedIn</a>
          <a href="{{ .Params.instagram }}" target="_blank">Instagram</a>
        </div>
      </div>

      <img
        id="about-image"
        class="about-image"
        src="{{ (index $shuffled 0).RelPermalink }}"
        alt="About Image"
      />
    </div>

    <div class="about-body">
      {{ .Content }}
    </div>

    <!-- JavaScript to change the image every 2 minutes -->
    <script>
      const images = [
        "{{ (index $shuffled 0).RelPermalink }}",
        "{{ (index $shuffled 1).RelPermalink }}",
        "{{ (index $shuffled 2).RelPermalink }}",
        "{{ (index $shuffled 3).RelPermalink }}",
        "{{ (index $shuffled 4).RelPermalink }}",
      ];

      let currentImageIndex = 0;

      function changeImage() {
        const imgElement = document.getElementById("about-image");
        currentImageIndex = (currentImageIndex + 1) % images.length;
        imgElement.src = images[currentImageIndex];
      }

      // Change image every 0.4 minutes
      setInterval(changeImage, 24000);
    </script>
  </div>
</section>
{{ end }}
