:root {
  --background: #ffffff;
  --text: #222;
  --border: #222;
  --link: #00e;
  --code-bg: #f0f0f0;
  --code-color: #222;
  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] {
  --background: #1a1a1a;
  --text: #ffffff;
  --border: #ffffff;
  --link: #3391ff;
  --code-bg: #2d2d2d;
  --code-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  line-height: 1.5;
  padding: 1rem;
  display: flex;
  justify-content: center;
  max-width: 70ch;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 768px;
}

header {
  border-bottom: 1px solid var(--border);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--border);
  margin-top: 1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

.navigation-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navigation-menu a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.navigation-menu a:hover {
  color: var(--primary);
}

.navigation-menu a.active {
  color: var(--link);
  font-weight:700;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--text);
}

#theme-toggle:hover {
  opacity: 0.8;
}

.about-header-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-image {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}
.social-media {
  display: flex;
  gap: 10px;
}

.about-body {
  text-align: justify;
}

.about-title {
  font-size: 2em;
}

.about-tagline {
  font-weight: 300;
}

@media (max-width: 768px) {
  .about-header-frame {
    flex-direction: column;
  }
}

.title-theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-summary-header {
  display: flex;
}

.post-summary-date-separator {
  padding: 0 5px;
}

.post-summary {
  margin-bottom: 1rem;
}

.post-summary p{
  margin: 0.5rem 0;
  line-height: 1.4;
}

.post-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.post-title-date {
  font-style: italic;
  color: var(--text);
}

.post-summary-content p{
  text-decoration: none;
  color: var(--text);
}

.blog-title {
  margin-bottom: 1rem;
}

/* Add transition to elements that change color */
body, a, button, .navigation-menu a, .post-title-date, .post-summary-content p {
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Style code blocks */
.highlight pre {
  border-radius: 8px;
  padding: 1.2rem;
  margin: 1rem 0;
}

/* Style inline code */
code { 
  background-color: var(--background);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: monospace;
}